<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin panel</title>
    <link rel="stylesheet" href="/css/admin.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="admin">
      <div class="d-flex">
        <div
          class="d-flex flex-column flex-shrink-0 p-3 bg-dark"
          style="width: 280px; height: 100vh"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
          >
            <svg class="bi pe-none me-2" width="40" height="32">
              <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-6">Admin panel</span>
          </a>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <li>
              <div class="nav-link text-light bg-dark">News</div>
            </li>
            <li>
              <div class="nav-link text-light bg-dark">Projects</div>
            </li>
            <li>
              <div class="nav-link text-light bg-dark">Works</div>
            </li>
            <li>
              <div class="nav-link text-light bg-dark">Users</div>
            </li>
            <li>
              <div class="nav-link text-light bg-dark">Images</div>
            </li>
          </ul>
        </div>
        <div class="new">
          <!-- News -->
          <div class="new-page pages">
            <form
              action="/news"
              method="post"
              enctype="multipart/form-data"
              class="new-form"
            >
              <div class="d-flex align-items-center">
                <div class="new-title">
                  <input
                    required
                    name="file"
                    type="file"
                    id="news-photo"
                    class="new-input"
                  />
                  <label for="news-photo">
                    <img
                      src="/img/Image 5.png"
                      alt=""
                      class="new-img news-label"
                    />
                  </label>
                </div>
                <div class="new-title mx-5 w-100">
                  <input
                    required
                    class="form-control form-control-lg w-50"
                    type="text"
                    placeholder="Title"
                    name="title"
                    aria-label=".form-control-lg example"
                    style="margin: 15px 0"
                  />
                  <input
                    required
                    class="form-control form-control-lg w-50"
                    type="text"
                    name="text"
                    placeholder="Text"
                    aria-label=".form-control-lg example"
                    style="margin: 15px 0"
                  />
                  <div class="new-btn d-flex">
                    <button type="submit" class="btn btn-primary">
                      Create
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <table class="table m-2">
              <thead>
                <tr>
                  <th scope="col" class="fs-6 table-secondary">Image</th>
                  <th scope="col" class="fs-6 table-secondary">Title</th>
                  <th scope="col" class="fs-6 table-secondary">Text</th>
                  <th scope="col" class="fs-6 table-secondary">Edit</th>
                  <th scope="col" class="fs-6 table-secondary">Delete</th>
                </tr>
              </thead>
              <tbody class="control-wrapper">
                <% news.forEach((e,i) => { %>
                <tr>
                  <td>
                    <img src="<%= e.imgUrl %>" alt="" class="new-imgs" />
                  </td>
                  <td><%= e.title %></td>
                  <td><%= e.text %></td>
                  <td>
                    <button
                      data-id="<%= e.id %>"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdropp"
                      class="btn btn-primary"
                    >
                      Edit
                    </button>
                  </td>
                  <div
                    class="modal fade"
                    id="staticBackdropp"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <form
                            action="/edite-news"
                            enctype="application/x-www-form-urlencoded"
                            method="post"
                            style="width: 100%"
                          >
                            <div class="new-title w-100">
                              <input
                                required
                                class="form-control form-control-lg w-100"
                                type="text"
                                placeholder="Title"
                                name="title"
                                aria-label=".form-control-lg example"
                                style="margin: 15px 0"
                              />
                              <input
                                required
                                class="form-control form-control-lg w-100"
                                type="text"
                                placeholder="Text"
                                name="text"
                                aria-label=".form-control-lg example"
                                style="margin: 15px 0"
                              />
                              <input
                                class="d-none news-id"
                                type="text"
                                name="id"
                                placeholder="Text"
                                aria-label=".form-control-lg example"
                                style="margin: 15px 0"
                              />
                            </div>
                            <div
                              class="d-flex"
                              style="justify-content: flex-end"
                            >
                              <button
                                type="button"
                                class="btn btn-secondary mx-2"
                                data-bs-dismiss="modal"
                              >
                                Close
                              </button>
                              <button
                                type="submit"
                                class="btn btn-primary mx-2"
                              >
                                OK
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <td>
                    <button
                      data-id="<%= e.id %>"
                      data-file="<%= e.fileName %>"
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#newsBackdrop"
                    >
                      Delete
                    </button>
                  </td>
                  <div
                    class="modal fade"
                    id="newsBackdrop"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true"
                  >
                    <form
                      action="/delete-news"
                      method="post"
                      enctype="application/x-www-form-urlencoded"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header"></div>
                          <div class="modal-body">
                            Siz rostan ham o'chirmoqchimisiz? <input
                            class=image-id" type="text" name="id" />
                            <input
                              class="d-none delete-file"
                              type="text"
                              name="fileName"
                            />
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- News end -->

          <!-- Users -->
          <div class="user pages d-none">
            <table class="table" style="margin: 30px 10px">
              <thead>
                <tr>
                  <th scope="col" class="fs-6 table-secondary">Username</th>
                  <th scope="col" class="fs-6 table-secondary">Lastname</th>
                  <th scope="col" class="fs-6 table-secondary">Role</th>
                  <th scope="col" class="fs-6 table-secondary">
                    <button
                      data-bs-toggle="modal"
                      data-bs-target="#Create"
                      class="btn btn-primary"
                      style="width: 130px"
                    >
                      Create
                    </button>

                    <!-- Create button modal -->

                    <div
                      class="modal fade"
                      id="Create"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="Create"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <form
                              action="/create-user"
                              method="post"
                              enctype="application/x-www-form-urlencoded"
                              style="width: 100%"
                            >
                              <div class="new-title w-100">
                                <input
                                  required
                                  class="form-control form-control-lg w-100"
                                  type="text"
                                  placeholder="First Name"
                                  name="firstName"
                                  aria-label=".form-control-lg example"
                                  style="margin: 15px 0"
                                />
                                <input
                                  required
                                  class="form-control form-control-lg w-100"
                                  type="text"
                                  placeholder="Last Name"
                                  name="lastName"
                                  aria-label=".form-control-lg example"
                                  style="margin: 15px 0"
                                />
                                <input
                                  required
                                  class="form-control form-control-lg w-100"
                                  type="password"
                                  name="password"
                                  placeholder="Password"
                                  aria-label=".form-control-lg example"
                                  style="margin: 15px 0"
                                />
                              </div>
                              <div
                                class="d-flex"
                                style="justify-content: flex-end"
                              >
                                <button
                                  type="button"
                                  class="btn btn-secondary mx-2"
                                  data-bs-dismiss="modal"
                                >
                                  Cancel
                                </button>
                                <button
                                  type="submit"
                                  class="btn btn-primary mx-2"
                                >
                                  Create
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody class="users-wrapper">
                <% users.forEach(user => { %>
                <tr>
                  <td><%= user.firstName %></td>
                  <td><%= user.lastName %></td>
                  <td><%= user.role %></td>
                  <td class="col">
                    <button
                      data-id="<%= user.id %>"
                      data-bs-toggle="modal"
                      data-bs-target="#Edit"
                      class="btn btn-primary"
                    >
                      Edit
                    </button>

                    <!-- Edit button modal   -->
                    <div
                      class="modal fade"
                      id="Edit"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="Edit"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <form
                              action="/edit-user"
                              method="post"
                              enctype="application/x-www-form-urlencoded"
                              style="width: 100%"
                            >
                              <div class="new-title w-100">
                                <input
                                  class="form-control form-control-lg w-100"
                                  type="text"
                                  placeholder="First Name"
                                  name="firstName"
                                  aria-label=".form-control-lg example"
                                  style="margin: 15px 0"
                                />
                                <input
                                  class="form-control form-control-lg w-100"
                                  type="text"
                                  placeholder="Last Name"
                                  name="lastName"
                                  aria-label=".form-control-lg example"
                                  style="margin: 15px 0"
                                />
                                <input
                                  class="form-control form-control-lg w-100"
                                  type="password"
                                  name="password"
                                  placeholder="Password"
                                  aria-label=".form-control-lg example"
                                  style="margin: 15px 0"
                                />
                                <input
                                  type="text"
                                  name="id"
                                  class="d-none user-edit"
                                />
                              </div>
                              <div
                                class="d-flex"
                                style="justify-content: flex-end"
                              >
                                <button
                                  type="button"
                                  class="btn btn-secondary mx-2"
                                  data-bs-dismiss="modal"
                                >
                                  Cancel
                                </button>
                                <button
                                  type="submit"
                                  class="btn btn-primary mx-2"
                                >
                                  Ok
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      data-id="<%= user.id %>"
                      data-bs-toggle="modal"
                      data-bs-target="#Delete"
                      class="btn btn-primary"
                    >
                      Delete
                    </button>

                    <!-- Delete button modal   -->
                    <div
                      class="modal fade"
                      id="Delete"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="Delete"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1
                              class="modal-title fs-5"
                              id="staticBackdropLabel"
                            >
                              Modal title
                            </h1>
                          </div>
                          <div class="modal-body">
                            Siz rostan ham o'chirmoqchimisiz?
                          </div>
                          <div class="modal-footer">
                            <form
                              action="/delete-user"
                              method="post"
                              enctype="application/x-www-form-urlencoded"
                            >
                              <input
                                type="text"
                                name="id"
                                class="d-none delete-user"
                              />
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                              >
                                Close
                              </button>
                              <button type="submit" class="btn btn-primary">
                                Ok
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- Users end -->

          <!-- Project -->
          <div class="project pages d-none">
            <form
              action="/projects"
              class="project-form d-flex align-items-center"
              method="post"
              enctype="multipart/form-data"
            >
              <input
                required
                class="form-control form-control-lg w-50"
                type="text"
                placeholder="Name"
                name="name"
                aria-label=".form-control-lg example"
                style="margin: 15px 0"
              />
              <button type="submit" class="btn btn-primary mx-5">Create</button>
            </form>
            <table class="table m-2">
              <thead>
                <tr>
                  <th scope="col" class="fs-6 table-secondary">Name</th>
                  <th scope="col" class="fs-6 table-secondary">Image</th>
                  <th scope="col" class="fs-6 table-secondary">Edit</th>
                  <th scope="col" class="fs-6 table-secondary">Delete</th>
                </tr>
              </thead>
              <tbody class="projects-wrapper">
                <% projects.projects.forEach(project => { %>
                <tr>
                  <td><%= project.name %></td>
                  <td>
                    <button
                      data-bs-toggle="modal"
                      data-bs-target="#Image"
                      class="btn btn-primary"
                      data-id="<%= project.id %>"
                    >
                      Image
                    </button>
                    <div
                      class="modal fade"
                      id="Image"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="Image"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <form
                              action="/add-image"
                              method="post"
                              enctype="multipart/form-data"
                              style="width: 100%"
                            >
                              <input
                                type="text"
                                name="id"
                                id="project-id"
                                class="d-none"
                              />
                              <input
                                required
                                name="file"
                                type="file"
                                id="add-photo"
                                class="d-none add-photo"
                              />
                              <label for="add-photo">
                                <img
                                  src="/img/Image 5.png"
                                  alt=""
                                  class="new-img project-label"
                                />
                              </label>
                              <div
                                class="d-flex"
                                style="justify-content: flex-end"
                              >
                                <button
                                  type="button"
                                  class="btn btn-secondary mx-2"
                                  data-bs-dismiss="modal"
                                >
                                  Close
                                </button>
                                <button
                                  type="submit"
                                  class="btn btn-primary mx-2"
                                >
                                  Add
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button
                      data-bs-toggle="modal"
                      data-bs-target="#Project"
                      class="btn btn-primary"
                      data-id="<%= project.id %>"
                    >
                      Edit
                    </button>
                  </td>
                  <div
                    class="modal fade"
                    id="Project"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="Project"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <form
                            action="/edit-project"
                            method="post"
                            enctype="application/x-www-form-urlencoded"
                            style="width: 100%"
                          >
                            <input
                              required
                              class="form-control form-control-lg w-100"
                              type="text"
                              name="name"
                              placeholder="Name"
                              aria-label=".form-control-lg example"
                              style="margin: 15px 0"
                            />
                            <input
                              type="text"
                              class="d-none project-edit"
                              name="id"
                            />
                            <div
                              class="d-flex"
                              style="justify-content: flex-end"
                            >
                              <button
                                type="button"
                                class="btn btn-secondary mx-2"
                                data-bs-dismiss="modal"
                              >
                                Close
                              </button>
                              <button
                                type="submit"
                                class="btn btn-primary mx-2"
                              >
                                OK
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                      data-id="<%= project.id %>"
                    >
                      Delete
                    </button>
                  </td>
                  <div
                    class="modal fade"
                    id="staticBackdrop"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">
                            Modal title
                          </h1>
                        </div>
                        <div class="modal-body">
                          Siz rostan ham o'chirmoqchimisiz?
                        </div>
                        <div class="modal-footer">
                          <form
                            action="/delete-project"
                            method="post"
                            enctype="application/x-www-form-urlencoded"
                          >
                            <input
                              type="text"
                              name="id"
                              class="d-none project-id"
                            />
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                              Ok
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- Project end -->

          <!-- Works start -->
          <div class="works pages d-none">
            <table class="table m-2">
              <thead>
                <tr>
                  <th scope="col" class="fs-6 table-secondary">Title</th>
                  <th scope="col" class="fs-6 table-secondary">Username</th>
                  <th scope="col" class="fs-6 table-secondary">Lastname</th>
                  <th scope="col" class="fs-6 table-secondary">Download</th>
                  <th scope="col" class="fs-6 table-secondary">Delete</th>
                </tr>
              </thead>
              <tbody class="works-wrapper">
                <% works.forEach(work => { %>
                <tr>
                  <td><%= work.title %></td>
                  <td><%= work.user.firstName %></td>
                  <td><%= work.user.lastName %></td>
                  <td>
                    <form action="<%= work.url %>" method="get">
                      <button type="submit" class="btn btn-primary">
                        Download
                      </button>
                    </form>
                  </td>
                  <td>
                    <button
                      data-id="<%= work.id %>"
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#workBackdrop"
                    >
                      Delete
                    </button>
                  </td>
                  <div
                    class="modal fade"
                    id="workBackdrop"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true"
                  >
                    <form
                      action="/delete-work"
                      method="post"
                      enctype="application/x-www-form-urlencoded"
                    >
                      <input class="d-none work-id" type="text" name="id" />
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1
                              class="modal-title fs-5"
                              id="staticBackdropLabel"
                            >
                              Modal
                            </h1>
                          </div>
                          <div class="modal-body">
                            Siz rostan ham o'chirmoqchimisiz?
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                              Ok
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- Works end -->

          <!-- Project Images -->
          <div class="project-images pages d-none">
            <table class="table m-2">
              <thead>
                <tr>
                  <th scope="col" class="fs-6 table-secondary">Image</th>
                  <th scope="col" class="fs-6 table-secondary">Project Name</th>
                  <th scope="col" class="fs-6 table-secondary">Delete</th>
                </tr>
              </thead>
              <tbody class="image-wrapper">
                <% projects.images.forEach((e) => { %>
                <tr>
                  <td>
                    <img src="<%= e.imgUrl %>" alt="" class="new-imgs" />
                  </td>
                  <td><%= e.name %></td>
                  <td>
                    <button
                      data-id="<%= e.id %>"
                      data-file="<%= e.fileName %>"
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#imageBackdrop"
                    >
                      Delete
                    </button>
                  </td>
                  <div
                    class="modal fade"
                    id="imageBackdrop"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true"
                  >
                    <form
                      action="/delete-image"
                      method="post"
                      enctype="application/x-www-form-urlencoded"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1
                              class="modal-title fs-5"
                              id="staticBackdropLabel"
                            >
                              Modal
                            </h1>
                          </div>
                          <div class="modal-body">
                            Siz rostan ham o'chirmoqchimisiz?
                            <input
                              class="d-none image-id"
                              type="text"
                              name="id"
                            />
                            <input
                              class="d-none image-name"
                              type="text"
                              name="fileName"
                            />
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- Project Images end -->
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
